.login-header {
  background-color: var(--theme-color);
  position: relative;
  border-radius: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-img {
  display: block;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}
