<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button autoHide="false" (click)="openMenu()"></ion-menu-button>
    </ion-button>
    <ion-title>auditoriesForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addAuditoria()">
    <ion-item lines="full">
      <ion-label position="floating">Codigo auditoria:</ion-label>
      <ion-input [(ngModel)]="id" type="text" name="usuario"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nom" type="text" name="passwd"></ion-input>
    </ion-item>

    <ion-card *ngFor="let pregunta of preguntes">
      <ion-item>
        <ion-label>{{pregunta.BM_nom}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="guardar()"
          shape="round"
          fill="solid"
          expand="block"
          size="medium"
          >Continuar
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="openPregunta()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
