<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Menu Principal
          <ion-button (click)="logOut()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <div *ngIf="admin == false">
          <ion-item [routerLink]="['/temp']">
            <ion-button
              (click)="closeMenu()"
              expand="full"
              fill="clear"
              shape="round"
            >
              Gestión de temperaturas
            </ion-button>
          </ion-item>
          <ion-item [routerLink]="['/formulari']">
            <ion-button
              (click)="closeMenu()"
              expand="full"
              fill="clear"
              shape="round"
            >
              Creación de pdf
            </ion-button>
          </ion-item>
        </div>

        <div *ngIf="admin == true">
          <ion-item [routerLink]="['/auditories']">
            <ion-button
              (click)="closeMenu()"
              expand="full"
              fill="clear"
              shape="round"
            >
              Realizar una auditoria
            </ion-button>
          </ion-item>
          <ion-item [routerLink]="['/auditories-tendes']">
            <ion-button
              (click)="closeMenu()"
              expand="full"
              fill="clear"
              shape="round"
            >
              Auditories de las tiendas
            </ion-button>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
