<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <!--Back button top left-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="config-card">
    <form #FProducto="ngForm" (ngSubmit)="FormSubmit()">
      <!--Field for Ip config-->
      <ion-item>
        <ion-Input [(ngModel)]="IP" type="text" name="ip" placeholder="Introducir IP servidor">
        </ion-Input>
      </ion-item>
      <ion-item>
        <ion-button type="submit">Guardar</ion-button>
      </ion-item>
    </form>
  </ion-card>
</ion-content>